<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
    <h1>List of Employees At the Company</h1>

    <table border>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Title</th>
            <th>Salary</th>
            <th>Entry date</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr th:each = "employee : ${employeeList}">
                <td th:text = "${employee.id}">id</td>
                <td>
                    <a th:href = "@{/employees/{id}(id=${employee.id})}" th:text = "${employee.name}">name</a>
                </td>
                <td th:text = "${employee.jobTitle}">rank</td>
                <td th:text = "${employee.salary}">salary</td>
                <td th:text = "${employee.dateOfEntry}">date of entry</td>
                <td>
                    <a th:href = "@{/deleteEmployee/{id}(id=${employee.getId})}">
                        <button>delete</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>

    <h1>Add new Employee to the List</h1>
    <form th:action = "@{/employees}" method = "post" th:object="${newEmployee}">
        <label>Id: </label><input th:field = "*{id}"/> <br/>
        <label>Name: </label><input th:field = "*{name}"/> <br/>
        <label>Rank: </label><input th:field = "*{jobTitle}"/> <br/>
        <label>Salary: </label><input th:field = "*{salary}"/> <br/>
        <label>Date of Entry: </label><input th:field="*{dateOfEntry}"/> <br/>
        <input type = "submit" value = "add"/>
    </form>
</body>
</html>