<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of Employees At the Company</h1>

    <table border>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Title</th>
            <th>Salary</th>
            <th>Entry date</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr th:each = "employee : ${employeeList}">
                <td th:text = "${employee.getId()}">id</td>
                <td ><a th:href = "@{/modify}" th:text = "${employee.getName()}" th:object="${employee}">name</a> </td>
                <td th:text = "${employee.getRank()}">rank</td>
                <td th:text = "${employee.getSalary}">salary</td>
                <td th:text = "${#temporals.format(employee.getDateOfEntry(), 'yyyy-MM-dd')}">date of entry</td>
                <td th:href = "@{/employees/(employee=${employee})}"><button type="button">delete</button></td>

            </tr>
        </tbody>
    </table>
    <br/>

    <h1>Add new Employee to the List</h1>
    <form th:action = "@{/employees}" method = "post" th:object="${newEmployee}">
        <label>Id: </label><input th:field = "*{id}"/> <br/>
        <label>Name: </label><input th:field = "*{name}"/> <br/>
        <label>Rank: </label><input th:field = "*{rank}"/> <br/>
        <label>Salary: </label><input th:field = "*{salary}"/> <br/>
        <label>Date of Entry: </label><input type="datetime-local" th:field="*{dateOfEntry}"/> <br/>
        <input type = "submit" value = "add"/>
    </form>
</body>
</html>